---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home" description="Dhruv Gupta's personal website.">
  <section class="simple-page">
    <h1>hello.</h1>
    <p>
      This is my small place on the internet. It is still changing, so I want it to stay simple for now.
    </p>
    <p>
      You can read a few notes, learn a little about me, or find the easiest way to reach me through the links
      above.
    </p>
  </section>
</BaseLayout>
